
<div class="text-center">
  <h4>this is the coach answer</h4>
  <div class="btn btn-success">
    <%= @coach_answer %>
  </div>

  <div class="btn btn-primary">
    <%= link_to "Ask a new question", 'ask' %>
  </div>

</div>
