
<div class="col-xs-12 col-sm-6 col-lg 3">
<h1 class="text-center">Welcome to stupid coaching</h1>

  <form class="text-center"   action="/answer">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" name="query" placeholder="what time is it?">
    <input type="submit" value="Go on!" class="btn btn-success">
  </form>

</div>
